@{
    ViewData["Title"] = "Role permission";
}
<div class="row">
    <div class="col-sm-8">
        <h5>
            Role permission:
            <span v-text="role"></span>
        </h5>
    </div>
</div>
<div v-for="item in items">
    <hr/>
    <h4 v-text="item.service"></h4>
    <br/>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered" style="width: 100%">
                <thead>
                <tr>
                    <th style="width: 220px;">Module</th>
                    <th>Permission</th>
                </tr>
                </thead>
                <tbody>
                <tr v-if="item.groups.length===0">
                    <td colspan="2">None</td>
                </tr>
                <tr v-else v-for="group in item.groups">
                    <td v-text="group.module"></td>
                    <td>
                        <div class="form-check form-check-inline" v-for="p in group.permissions">
                            <label class="form-check-label" style="margin-left: 15px">
                                <input :id="p.id" v-if="p.hasPermission" type="checkbox" class="form-check-input" checked="checked" v-on:change="permissionChange">{{p.name}}
                                <input :id="p.id" v-else type="checkbox" class="form-check-input" v-on:change="permissionChange">{{p.name}}
                            </label>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts
{
    <environment names="Development">
        <script src="~/js/rolePermission.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/rolePermission.min.js" asp-append-version="true"></script>
    </environment>
}