@{
    ViewData["Title"] = "Login Failure";
}

<h4>Login Failure.</h4>
<hr/>
<div class="alert alert-danger alert-dismissible">
    <p>Unsuccessful login with service.</p>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>