@model IdentityServer4.SecurityTokenService.Models.Account.ForgotPasswordConfirmationViewModel
@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<h4>Forgot Password Confirmation.</h4>
<hr/>
<div class="alert alert-success">
          <strong>success!</strong> Please check your email to reset your password.
</div>