@{
    ViewData["Title"] = "Account not allowed";
}

<h4>Account not allowed.</h4>
<hr/>
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger">
            This account not allowed to login before you caonfirm you email or phone.
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <form action="/account/emailconfirmation" method="post" role="form">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-outline-primary">Send email confirmation again?</button>
            </form>
        </div>
    </div>
</div>