@{
    ViewData["Title"] = "Sent email confirmation";
}

<h4>Sent email confirmation.</h4>
<hr/>
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger">
            Sent email confirmation success. Please check your email box.
        </div>
    </div>
</div>
