@{
    ViewData["Title"] = "Secrets";
}
<div class="row">
    <div class="col-sm-8">
        <h5>
            Client secrets:
            <small v-text="client.clientName"></small>
        </h5>
    </div>
    <div class="col-sm-4">
        <button class="btn btn-sm btn-outline-primary float-right" data-toggle="modal" data-target="#addModal">Add</button>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered" style="width: 100%">
            <thead>
            <tr>
                <th>Type</th>
                <th>Description</th>
                <th>Expiration</th>
                <th style="width: 60px">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr v-if="secrets.length===0">
                <td colspan="5">None</td>
            </tr>
            <tr :id="secret.id" v-else v-for="secret in secrets">
                <td v-text="secret.type"></td>
                <td v-text="secret.description"></td>
                <td v-text="formatDate(secret.expiration, 'YY-MM-DD hh:mm')"></td>
                <td>
                    <button class="btn btn-sm btn-outline-primary" v-on:click="remove"><i class="fa fa-fw fa-trash"></i></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row" v-if="page > 1">
    <div class="col-md-12">
        <pagination :page="page" :count="count" :limit="limit"></pagination>
    </div>
</div>
<div class="modal fade" id="addModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title">Add secret</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- 模态框主体 -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Secret</label>
                            <input type="text" v-model="secret.value" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Description</label>
                            <input type="text" v-model="secret.description" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Expiration</label>
                            <input type="datetime-local" v-model="secret.expiration" class="form-control"/>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="button" v-on:click="add" class="btn btn-sm btn-outline-primary">Submit</button>
                <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>

@section Scripts
{
    <environment names="Development">
        <script src="~/js/clientSecrets.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/clientSecrets.min.js" asp-append-version="true"></script>
    </environment>
}