@using IdentityServer4.Extensions
@{
    ViewData["Title"] = "Account";
}
<div class="row">
    <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item list-group-item-secondary">Personal settings</li>
            <li class="list-group-item list-group-item-action">
                <a asp-controller="Settings" asp-action="Profile">Profile</a>
            </li>
            <li class="list-group-item list-group-item-action active">
                <a class="text-white" asp-controller="Settings" asp-action="Account">Account</a>
            </li>
            <li class="list-group-item list-group-item-action">
                <a asp-controller="Settings" asp-action="Security">Security</a>
            </li>
            <li class="list-group-item list-group-item-action">
                <a asp-controller="Settings" asp-action="Email">Email</a>
            </li>
            <li class="list-group-item list-group-item-action">
                <a asp-controller="Settings" asp-action="ExternalLogins">External Logins</a>
            </li>
            <li class="list-group-item list-group-item-action">
                <a asp-controller="Settings" asp-action="Applications">Applications</a>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        @(await Html.PartialAsync("ChangeUserName"))
        <h5>Export account data</h5>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <p>Export all repositories and profile metadata for @Context.User.GetDisplayName(). Exports will be available for 7 days.</p>
                    <a asp-controller="Settings" asp-action="PersonalData" class="btn btn-sm btn-outline-primary" value="Update profile">Start export</a>
                </div>
            </div>
        </div>
    </div>
</div>