@model IdentityServer4.SecurityTokenService.Models.Settings.ChangePasswordViewModel
<h5>Change password</h5>
<hr/>
<form action="/account/password" method="post" role="form">
    @Html.AntiForgeryToken()
    @if (Model.HasPassword)
    {
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="OldPassword"></label>
                    <input asp-for="OldPassword" class="form-control"/>
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control"/>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control"/>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-6">
            <div class="form-group">
                <button type="submit" class="btn btn-outline-primary">Change password</button>
                @if (Model.HasPassword)
                {
                    <a style="margin-left: 5px" asp-controller="Account" asp-action="ForgotPassword">I forgot my password</a>
                }
            </div>
        </div>
    </div>
</form>