/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html,
body {
    font-size: 13px;
}

@media (min-width: 768px) {
    html {
        font-size: 13px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.logo {
    position: absolute;
    top: 50px;
    left: 80px;
    color: #fff;
    font-size: 12px;
}

.logo span {
    margin-left: 24px;
    position: relative;
    bottom: -5px;
}

.bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .8;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url('../image/home-bg.jpg');
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #F0F2F7 inset !important;
    box-shadow: 0 0 0px 1000px #F0F2F7 inset !important;
    outline: none;
}

.form-control:focus {
    border-color: rgba(49, 87, 223, 1) !important;
    border-width: 2px;
    /* box-shadow: 0 0 0 0.1rem rgba(49, 87, 223, 1) !important; */
    /* outline:rgba(49,87,223,1) solid 2px; */
    /* outline:none; */
}

.form-control {
    background-color: #F0F2F7 !important;
}

.icon-password {
    position: absolute;
    right: 18px;
    top: 19px;
    z-index:5;
    background-image: url('../image/password.png');
    /*引入图片图片*/
    background-repeat: no-repeat;
    /*设置图片不重复*/
    background-position: 0px 0px;
    /*图片显示的位置*/
    width: 18px;
    /*设置图片显示的宽*/
    height: 12px;
    /*图片显示的高*/
}

label {
    position: relative;
    cursor: pointer;
}
  
label input {
    cursor: pointer;
}
  
input:checked + .show-box {
    background: #ec6337;
}
  
label .show-box {
      position: absolute;
      top: 0;
      left: 0;
      width: 16px;
      height: 16px;
      border-radius: 2px;
      border: 1px solid #d8d8d8;
      background: white; 
}

label .show-box:before {
        content: '';
        position: absolute;
        top: 2px;
        left: 6px;
        width: 3px;
        height: 8px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
}

.pwd-icon {
    cursor: pointer;
}

.icon-text {
    position: absolute;
    right: 18px;
    top: 19px;
    z-index:5;
    background-image: url('../image/text.png');
    /*引入图片图片*/
    background-repeat: no-repeat;
    /*设置图片不重复*/
    background-position: 0px 0px;
    /*图片显示的位置*/
    width: 18px;
    /*设置图片显示的宽*/
    height: 12px;
    /*图片显示的高*/
}

.loginButton {
    background:linear-gradient(90deg,rgba(95,144,241,1) 0%,rgba(49,87,223,1) 100%);
    box-shadow:0px 4px 10px 0px rgba(111,171,253,0.45);
    border-radius:4px;
}

.loginLink {
    font-size:14px;
    font-weight:400;
    color:rgba(22,22,22,1);
    line-height:22px;
}


.content-login .card {
    position: relative;
    margin: 18vh auto 0;
    min-width: 270px;
    width: 500px;
    /* height: 480px; */
    font-size: 14px;
    background: transparent;
    border: 10px solid rgba(255, 255, 255, 0.4);
}

.content-login .card-body {
    background: #fff;
    padding: 56px 60px;
}

.content-login .card-title {
    font-size: 24px;
    color: #161616;
    line-height: 32px;
    position: relative;
}

.content-login .card-title:after {
    width: 28px;
    height: 4px;
    background: linear-gradient(90deg, rgba(95, 144, 241, 1) 0%, rgba(49, 87, 223, 1) 100%);
    border-radius: 4px;
    content: '';
    display: block;
    top: 10px;
    position: relative;
}

.content-login .form-group {
    margin-bottom: 30px;
    height: 48px;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
}

.content-login .forgetpwd {
    float: right;
}

.content-login .form-control,
.content-login input,
.content-login .btn {
    /* border-left: 1px solid #ced4da; */
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    /* background: rgba(240, 242, 247, 1); */
    border-radius: 4px;
    height: 48px;
}

.content-login .form-extra {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-login .form-extra a:hover {
    text-decoration: none;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    /* Vertically center the text there */
    text-align: center;
    font-size: 12px;
    color: #d5d5d5;
}

.footer a {
    margin-left: 15px;
    font-size: 12px;
    color: #d5d5d5;
}

.footer a:hover {
    text-decoration: none;
}

.form-control,
.card,
input,
.btn,
.list-group-item:first-child,
.list-group-item:last-child,
.page-item:last-child .page-link,
.page-item:first-child .page-link {
    border-radius: 0
}

.form-control,
input,
.btn,
.pagination,
.pagination,
.page-item {
    height: 27px;
}

/*
 * Plugin: Select2
 * ---------------
 */
.select2-container--default.select2-container--focus,
.select2-selection.select2-container--focus,
.select2-container--default:focus,
.select2-selection:focus,
.select2-container--default:active,
.select2-selection:active {
    outline: none;
}

.select2-container--default .select2-selection--single,
.select2-selection .select2-selection--single {
    border: 1px solid #d2d6de;
    border-radius: 0;
    padding: 6px 12px;
    height: 27px;
}

.select2-container--default.select2-container--open {
    border-color: #3c8dbc;
}

.select2-dropdown {
    border: 1px solid #d2d6de;
    border-radius: 0;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #007bff;
    color: white;
}

.select2-results__option {
    padding: 6px 12px;
    user-select: none;
    -webkit-user-select: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
    padding-right: 0;
    height: auto;
    margin-top: -8px;
}

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    padding-right: 6px;
    padding-left: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 28px;
    right: 3px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-top: -4px;
}

.select2-dropdown .select2-search__field,
.select2-search--inline .select2-search__field {
    border: 1px solid #d2d6de;
}

.select2-dropdown .select2-search__field:focus,
.select2-search--inline .select2-search__field:focus {
    outline: none;
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default .select2-search--dropdown .select2-search__field {
    border-color: #3c8dbc !important;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
    color: #999;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #ddd;
}

.select2-container--default .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option[aria-selected=true]:hover {
    color: #444;
}

.select2-container--default .select2-selection--multiple {
    border: 1px solid #d2d6de;
    border-radius: 0;
}

.select2-container--default .select2-selection--multiple:focus {
    border-color: #3c8dbc;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #d2d6de;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #3c8dbc;
    border-color: #367fa9;
    padding: 1px 10px;
    color: #fff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    margin-right: 5px;
    color: rgba(255, 255, 255, 0.7);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #fff;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-right: 10px;
}

.validation-summary-errors ul li {
    list-style: none;
    margin-left: -45px;
}

.margin-left-10 {
    margin-left: 10px;
}

td {
    word-break: break-all;
    word-wrap: break-word;
}

.fa {
    display: inline;
    vertical-align: middle;
}

.btn {
    display: inline-block;
    vertical-align: middle;
}