@{
    ViewData["Title"] = "User role";
}
<div class="row">
    <div class="col-sm-8">
        <h5>
            User role:
            <span v-text="userName + ', ' + email + ', ' + name"></span>
        </h5>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered" style="width: 100%">
            <thead>
            <tr>
                <th style="width: 80px;">Type</th>
                <th>Role</th>
            </tr>
            </thead>
            <tbody>
            <tr v-if="items.length===0">
                <td colspan="2">None</td>
            </tr>
            <tr :id="item.id" v-else v-for="item in items">
                <td v-text="item.type"></td>
                <td>
                    <div class="form-check form-check-inline" v-for="p in item.roles">
                        <label class="form-check-label" style="margin-left: 15px">
                            <input :id="p.id" v-if="p.inRole" type="checkbox" class="form-check-input" checked="checked" v-on:change="roleChange">{{p.name}}
                            <input :id="p.id" v-else type="checkbox" class="form-check-input" v-on:change="roleChange">{{p.name}}
                        </label>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


@section Scripts
{
    <environment names="Development">
        <script src="~/js/userRole.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/userRole.min.js" asp-append-version="true"></script>
    </environment>
}